@model List<Aluno>

@if (ViewData["MsgErro"] != null)
{
    <div class="alert-danger">
        @ViewData["MsgErro"]
    </div>
}
@if (ViewData["MsgSucesso"] != null)
{
    <div class="alert-success">
        @ViewData["MsgSucesso"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Alunos</th>
            <th scope="col">Nota</th>
            <th scope="col">Situação</th>
            <th scope="col">CEP</th>
            <th scope="col">Endereço</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Aluno aluno in Model)
            {
                <tr>
                    <td>
                        @aluno.id
                    </td>
                    <td>
                        @aluno.nome
                    </td>
                    <td>
                        @aluno.nota
                    </td>
                    <td>
                        @aluno.situacao
                    </td>
                    <td>
                        @aluno.cep
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="@aluno.cep">Endereço</a>
                        </div>
                    </td>
                </tr>
            }  
        }

    </tbody>
</table>
<div class="text-center">
    <a type="submit" class="btn btn-primary" role="button" asp-area="" asp-controller="Aluno" asp-action="AdicionarAluno" > Adicionar</a>
</div>

